[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "envstat"]
	path = envstat
	url = https://github.com/sellorm/envstat
[submodule "nhsnumber"]
	path = nhsnumber
	url = https://github.com/sellorm/nhsnumber
[submodule "rlog"]
	path = rlog
	url = https://github.com/sellorm/rlog
